@font-face {
    font-family: "f1-regular";
    src: url(../../assets/F1-Font-Files/Formula1-Regular.otf);
}



.navContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: black;
}

.logoImg{
    height: 30px;
    padding: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    button{
        margin: 0px 10px;
        font-family: "f1-regular";
        font-size: 1em;
        width: 100vw;
        border: none;
        background-color: black;
        color: white;

        &:hover{
            cursor: pointer;
            background-color: rgb(25, 25, 25);
        }
    }
}


@media (min-width: 720px){    
    
    .navContainer{
        flex-direction: row;
        justify-content: space-between;
    }

    .btns{
        flex-direction: row;


        button{
            height: 60px;
            width:100px;
            margin: 0;
        }
    }
}