

.cardsHomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsResultsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 720px){

    .cardsHomeContainer{
        height: 90vh;
        justify-content: space-between;
    }
}